.sidebar-wrapper {
    border: 1px solid #e2e2e2;
    clear: both;
    -webkit-box-shadow: inset 0 0 0 1px #ffffff;
    box-shadow: inset 0 0 0 1px #ffffff;
    padding: 25px 20px;
    margin-bottom: 45px;
}

.sidebar-wrapper > h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #252525;
    line-height: 24px;
    border-bottom: 1px solid #e1e1e1;
    font-family: "Oswald", sans-serif;
    padding-bottom: 10px;
    margin-bottom: 36px;
}

.sidebar-wrapper .sidebar-widget h3 {
    font-family: "Oswald", sans-serif;
    line-height: 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: #363636;
    font-weight: 700;
    letter-spacing: 0.3px;
    margin-bottom: 20px;
}

.sidebar-wrapper .sidebar-widget .sidebar-widget-option-wrapper .sidebar-widget-option {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.sidebar-widget-option input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
}

.sidebar-widget-option input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #78a206;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.sidebar-widget-option input[type="checkbox"] { /* change "blue" browser chrome to yellow */
    filter: invert(0%) hue-rotate(227deg) brightness(1.2);
}

input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 80%;
    background-color: #f6f5f1;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #78a206;
    border-radius: 1px;
    border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #78a206;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #90b91f;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #78a206;  
}
  
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #78a206;
    border-radius: 1px;
    border: 0px solid #000000;
}
  
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #78a206;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #90b91f;
    cursor: pointer;
}
  
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
  
input[type=range]::-ms-fill-lower {
    background: #78a206;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
  
input[type=range]::-ms-fill-upper {
    background: #78a206;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
  
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #78a206;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #90b91f;
    cursor: pointer;
}
  
input[type=range]:focus::-ms-fill-lower {
    background: #78a206;
}
  
input[type=range]:focus::-ms-fill-upper {
    background: #78a206;
}

.price-slider-container h1{
    color: #696969;
    margin-bottom: 0;
    font-size: 14px;
    margin-bottom: 10px;
}

.sidebar-wrapper .sidebar-widget .sidebar-widget-option-wrapper .sidebar-widget-option label {
    cursor: pointer;
    color: #696969;
    margin-bottom: 0;
    margin-left: 11px;
    font-size: 12px;
}

.sidebar-widget-option > span {
    cursor: pointer;
    color: #696969;
    margin-bottom: 0;
    font-size: 12px;
    transition: all 0.3s ease 0s;
}

.sidebar-widget-option > span {
    cursor: pointer;
    color: #696969;
    margin-bottom: 0;
    font-size: 12px;
    transition: all 0.3s ease 0s;
}

.sidebar-widget-option > span.active {
    cursor: pointer;
    color: red;
    margin-bottom: 0;
    font-size: 12px;
    transition: all 0.3s ease 0s;
}

.sidebar-widget-option > span:hover {
    cursor: pointer;
    color: #78a206;
    transform: translateX(5px);
}