.sign-in-main{
    margin: 80px 0;
    

}

.sign-in-main h4{
    text-align: center;
    width: 100%;
    color: #78a206;
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}

.sign-in-form{
    background: transparent none repeat scroll 0 0;
    box-shadow: 0 0 6px rgb(0 0 0 / 10%);
    padding: 80px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.sign-in-form-input{
    background-color: transparent;
    border: 1px solid #ebebeb;
    font-size: 14px;
    height: 50px;
    margin-bottom: 30px;
    padding: 0 15px;
    width: 100%;
    color: #696969;
}

.sign-in-form-input:focus{
    outline: none;
}

.sign-in-form h2{
    font-size: 12px;
    color: #696969;
    margin-bottom: 20px;
}

.sign-in-form a{
    transition: all 0.3s ease 0s;
}

.sign-in-form a:hover{
    color: #78a206;
}


.sign-in-submit{
    text-align: center;
}

.sign-in-form-btn{
    background-color: #78a206;
    color: #fff;
    border: medium none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding: 13px 30px 13px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
