.modal{
    position: fixed;
    top : 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
}

.modal-container{
    position: relative;
    background-color: #fbfbfb;
    width: calc(100% - 300px);
    max-height: 100%;
    padding: 20px 15px;
}

.header {
    background-color: #327a81;
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 1700px;
  
  
  }
  
  
  .table-users {
    border: 1px solid #327a81;
    border-radius: 10px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 1em auto;
    overflow: hidden;
    width: 100%;
    overflow-x:scroll;
    
  }
  
  .table-users::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
    border-radius: 5px;
  } 
  
  .table-users::-webkit-scrollbar-thumb {
    background-color: #0a472e;
  }
  
  .table-users::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
  
  table {
    margin-bottom: 10px;
  }
  table td,
  table th {
    color: #2b686e;
    padding: 10px;
  }
  table td {
    text-align: center;
    vertical-align: middle;
    width: 160px;
    
  }
  table td p {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: left;

  }
  table td:last-child {
    /* font-size: 0.95em;
    line-height: 1.4; */
  }
  table th {
    background-color: #daeff1;
    font-weight: 300;
  }
  table tr:nth-child(2n) {
    background-color: white;
  }
  table tr:nth-child(2n+1) {
    background-color: #edf7f8;
  }
  
  @media screen and (max-width: 700px) {
    table,
  tr,
  td {
      display: block;
    }
  
    td:first-child {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100px;
    }
    td:not(:first-child) {
      /* clear: both;
      margin-left: 100px;
      padding: 4px 20px 4px 90px;
      position: relative; */
      width: 100%;
      text-align: left;
    }
    td:not(:first-child):before {
      color: #91ced4;
      content: "";
      display: block;
      left: 0;
      width: 100%;
      position: absolute;
    }
    
  
    tr {
      padding: 10px 0;
      position: relative;
    }
    tr:first-child {
      display: none;
    }
  }
  @media screen and (max-width: 500px) {
    .header {
      background-color: transparent;
      color: white;
      font-size: 2em;
      font-weight: 700;
      padding: 0;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    }
    .table-img{
      width: 100%;
    }
  
    td:first-child {
      background-color: #c8e7ea;
      border-bottom: 1px solid #91ced4;
      border-radius: 10px 10px 0 0;
      position: relative;
      top: 0;
      transform: translateY(0);
      width: 100%;
    }
    td:not(:first-child) {
      margin: 0;
      padding: 5px 1em;
      width: 100%;
    }
    td:not(:first-child):before {
      font-size: 0.8em;
      padding-top: 0.3em;
      position: relative;
    }
    td:last-child {
      padding-bottom: 1rem !important;
    }
  
    tr {
      background-color: white !important;
      border: 1px solid #6cbec6;
      border-radius: 10px;
      box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
      margin: 0.5rem 0;
      padding: 0;
    }
  
    .table-users {
      border: none;
      box-shadow: none;
      overflow: visible;
    }
  }
  
  .clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }
  
  .form_wrapper {
    background: #fff;
    max-width: calc(100% - 2em);
    max-width: 100%;
    box-sizing: border-box;
    padding: 25px;
    margin: 0 auto 0;
    position: relative;
    z-index: 1;
    border-top: 5px solid #f5ba1a;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: none;
    transition: none;
    -webkit-animation: expand 0.8s 0.6s ease-out forwards;
    animation: expand 0.8s 0.6s ease-out forwards;
    opacity: 0;
  }
  .form_wrapper h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
  }
  .form_wrapper .title_container {
    text-align: center;
    padding-bottom: 15px;
  }
  .form_wrapper h3 {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
  }
  .form_wrapper label {
    font-size: 12px;
  }
  .form_wrapper .row {
    margin: 10px -15px;
  }
  .form_wrapper .row > div {
    padding: 0 15px;
    box-sizing: border-box;
  }
  .form_wrapper .col_half {
    width: 50%;
    float: left;
  }
  .form_wrapper .input_field {
    position: relative;
    margin-bottom: 20px;
    -webkit-animation: bounce 0.6s ease-out;
    animation: bounce 0.6s ease-out;
  }
  .form_wrapper .input_field > span {
    position: absolute;
    left: 0;
    top: 0;
    color: #333;
    height: 100%;
    border-right: 1px solid #cccccc;
    text-align: center;
    width: 30px;
  }
  .form_wrapper .input_field > span > i {
    padding-top: 10px;
  }
  .form_wrapper .textarea_field > span > i {
    padding-top: 10px;
  }
  .form_wrapper input[type=text], .form_wrapper input[type=email], .form_wrapper input[type=password] {
    width: 100%;
    padding: 8px 10px 9px 35px;
    height: 35px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .form_wrapper input[type=text]:hover, .form_wrapper input[type=email]:hover, .form_wrapper input[type=password]:hover {
    background: #fafafa;
  }
  .form_wrapper input[type=text]:focus, .form_wrapper input[type=email]:focus, .form_wrapper input[type=password]:focus {
    -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
    -moz-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
    box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
    border: 1px solid #f5ba1a;
    background: #fafafa;
  }
  .form_wrapper .button{
    background: #f5ba1a;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .form_wrapper .button:hover {
    background: #e1a70a;
  }
  .form_wrapper .button:focus {
    background: #e1a70a;
  }
  /* .form_wrapper input[type=checkbox], .form_wrapper input[type=radio] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  } */
  
  .form_container .row .col_half.last {
    border-left: 1px solid #cccccc;
  }
  
  .checkbox_option label {
    margin-right: 1em;
    position: relative;
  }
  .checkbox_option label:before {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.5em;
    vertical-align: -2px;
    border: 2px solid #cccccc;
    padding: 0.12em;
    background-color: transparent;
    background-clip: content-box;
    transition: all 0.2s ease;
  }
  .checkbox_option label:after {
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    content: "";
    height: 20px;
    left: 2px;
    position: absolute;
    top: 7px;
    transform: scaleX(-1) rotate(135deg);
    transform-origin: left top;
    width: 7px;
    display: none;
  }
  .checkbox_option input:hover + label:before {
    border-color: #000000;
  }
  .checkbox_option input:checked + label:before {
    border-color: #000000;
  }
  .checkbox_option input:checked + label:after {
    -moz-animation: check 0.8s ease 0s running;
    -webkit-animation: check 0.8s ease 0s running;
    animation: check 0.8s ease 0s running;
    display: block;
    width: 7px;
    height: 20px;
    border-color: #000000;
  }
  
  .radio_option label {
    margin-right: 1em;
  }
  .radio_option label:before {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.5em;
    border-radius: 100%;
    vertical-align: -3px;
    border: 2px solid #cccccc;
    padding: 0.15em;
    background-color: transparent;
    background-clip: content-box;
    transition: all 0.2s ease;
  }
  .radio_option input:hover + label:before {
    border-color: #000000;
  }
  .radio_option input:checked + label:before {
    background-color: #000000;
    border-color: #000000;
  }
  
  .select_option {
    position: relative;
    width: 100%;
  }
  .select_option select {
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 0px 15px;
    cursor: pointer;
    color: #7b7b7b;
    border: 1px solid #cccccc;
    border-radius: 0;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.2s ease;
  }
  .select_option select::-ms-expand {
    display: none;
  }
  .select_option select:hover, .select_option select:focus {
    color: #000000;
    background: #fafafa;
    border-color: #000000;
    outline: none;
  }
  
  .select_arrow {
    position: absolute;
    top: calc(50% - 4px);
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: #7b7b7b transparent transparent transparent;
  }
  
  .select_option select:hover + .select_arrow, .select_option select:focus + .select_arrow {
    border-top-color: #000000;
  }
  
  .credit {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 15px;
    color: #f5ba1a;
  }
  .credit a {
    color: #e1a70a;
  }
  
  .fill-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: 100% !important;
  }
  
  .btn-handle{
    margin: 0 10px;
    font-size: 14px;
    padding: 5px 10px;
    background-color: #65C18C;
    border: 1px solid #357C3C;
    border-radius: 3px;
    color: #570530;
    font-weight: 600;
  }
  
  .btn-handle.btn-delete{
    background-color: #B33030;
    border: 1px solid #570530;
  
  }
  
  .btn-handle.btn-delete:hover{
    background-color: #D9534F;
    cursor: pointer;
  
  }
  
  
  .btn-handle:hover{
    background-color: #C1F4C5;
    cursor: pointer;
  }
  
  .group-input-sex{
    display: flex;
    margin-bottom: 20px;
  }
  
  .input-item{
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .input-item label{
    font-size: 16px;
    color: #333;
  }
  
  .button.btn-save{
    background-color: #7882A4;
  }
  
  .button.btn-save:hover{
    background-color: #54BAB9;
    
  }
  .button.btn-cancel{
    background-color: #B8405E;
  }
  
  .button.btn-cancel:hover{
    background-color: #B33030;
    
  }
  
  @-webkit-keyframes check {
    0% {
      height: 0;
      width: 0;
    }
    25% {
      height: 0;
      width: 7px;
    }
    50% {
      height: 20px;
      width: 7px;
    }
  }
  @keyframes check {
    0% {
      height: 0;
      width: 0;
    }
    25% {
      height: 0;
      width: 7px;
    }
    50% {
      height: 20px;
      width: 7px;
    }
  }
  @-webkit-keyframes expand {
    0% {
      -webkit-transform: scale3d(1, 0, 1);
      opacity: 0;
    }
    25% {
      -webkit-transform: scale3d(1, 1.2, 1);
    }
    50% {
      -webkit-transform: scale3d(1, 0.85, 1);
    }
    75% {
      -webkit-transform: scale3d(1, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
  @keyframes expand {
    0% {
      -webkit-transform: scale3d(1, 0, 1);
      transform: scale3d(1, 0, 1);
      opacity: 0;
    }
    25% {
      -webkit-transform: scale3d(1, 1.2, 1);
      transform: scale3d(1, 1.2, 1);
    }
    50% {
      -webkit-transform: scale3d(1, 0.85, 1);
      transform: scale3d(1, 0.85, 1);
    }
    75% {
      -webkit-transform: scale3d(1, 1.05, 1);
      transform: scale3d(1, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: translate3d(0, -25px, 0);
      opacity: 0;
    }
    25% {
      -webkit-transform: translate3d(0, 10px, 0);
    }
    50% {
      -webkit-transform: translate3d(0, -6px, 0);
    }
    75% {
      -webkit-transform: translate3d(0, 2px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @keyframes bounce {
    0% {
      -webkit-transform: translate3d(0, -25px, 0);
      transform: translate3d(0, -25px, 0);
      opacity: 0;
    }
    25% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
    50% {
      -webkit-transform: translate3d(0, -6px, 0);
      transform: translate3d(0, -6px, 0);
    }
    75% {
      -webkit-transform: translate3d(0, 2px, 0);
      transform: translate3d(0, 2px, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @media (max-width: 600px) {
    .form_wrapper .col_half {
      width: 100%;
      float: none;
    }
  
    .bottom_row .col_half {
      width: 50%;
      float: left;
    }
  
    .form_container .row .col_half.last {
      border-left: none;
    }
  
    .remember_me {
      padding-bottom: 20px;
    }
  }

  .pagi-bottom{
    width: 100%;
  }