.list-product-detail{
    position: relative;
    z-index: 1;
    background: #f6f5f1;
    padding-top: 110px;
    padding-bottom: 90px;
}

.product-img-main{
    box-shadow: 1px 1px 0 0 #ffffff inset, 1px 1px 0 0 #ffffff;
    padding: 1px;
    border-radius: 20px;
    border: 1px solid #e7e7e7;
    position: relative;
}

.infomation-product{
    margin-left: 20px;
}

.star-rating-product{
    display: flex;
    font-size: 14px;
}

.star-rating-product .rating-btn{
    margin-right: 4px;
}

.infomation-product .product-details-text h3{
    color: #23232c;
    font-size: 24px;
    font-weight: 500;
    line-height: 18px;
    margin: 0 0 25px 0;
}

.infomation-product .product-details-text h4{
    color: #78a206;
    font-size: 16px;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    padding-top: 5px;
}

.infomation-product .product-details-text h4 span{
    font-weight: 600;
    margin-left: 8px;
    text-decoration: line-through;
    font-size: 14px;
    color: #b8b8b8;
}

.infomation-product .product-details-text p{
    border-top: 1px solid #e1e1e1;
    margin-bottom: 27px;
    margin-top: 25px;
    padding-top: 26px;
    box-shadow: inset 0 1px 0 0 #ffffff;
    color: #696969;
    font-size: 12px;
    line-height: 24px;
    text-align: justify;
}




.infomation-product .product-details-text .p-rating-review {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.infomation-product .product-details-text .p-rating-review a{
    color: #999999;
    margin-left: 16px;
    font-size: 12px;
}

.product-details-text .check-icon {
    background: #81ca33 none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    font-size: 7px;
    height: 13px;
    line-height: 13px;
    margin-right: 7px;
    position: relative;
    text-align: center;
    top: -2px;
    width: 13px;
}

.product-details-text h5{
    font-size: 14px;
    color: #696969;
}

.product-item-button{
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.quality-num{
    color: #2c2c2c;
    font-size: 18px;
    height: 45px;
    margin-right: 15px;
    padding-left: 19px;
    width: 62px;
    background: #ffffff;
    border: 1px solid #ececeb;
}

.product-item-button .icon-button{
    width: 47px;
    height: 47px;
    border: 1px solid #ececeb;
    background: #ffffff;
    color: #2c2c2c;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    line-height: 48px;
    padding: 0;
    font-size: 17px;
    text-align: center;
    margin-left: 30px;
    transition: all 0.4s ease 0s;
}

.product-item-button .icon-button:hover{
    background-color: #78a206;
    color: #ffffff;
}

.product-tag-cat{
    display: flex;
    margin-top: 40px;
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    box-shadow: inset 0 1px 0 0 #ffffff;
}

.single-tag-cat{
    color: #23232c;
    display: flex;
    font-weight: 700;
    font-size: 12px;
    margin-right: 20px;
}

.single-tag-cat >a{
    color: #707070;
    font-weight: 400;
    margin: 0 2px;
    transition: all 0.4s ease 0s;

}

.single-tag-cat >a:hover{
    color: #78a206;
    
}

.p-d-title{

}
